.ant-layout {
    width: 100%;
    .ant-layout-header,
    .ant-layout-footer {
        background: #7dbcea;
        color: #fff;
        display: flex;
        justify-content: space-between;
        .ant-avatar {
            align-self: center;
        }
    }
    .ant-space {
        .ant-space-item {
            height: 100%;
            .ant-col {
                height: 100%;
                .ant-card {
                    height: 100%;
                }
            }
        }
    }
}
.homepage {
    .slider-image {
        height: 400px;
    }
    .ant-carousel {
        height: 500px;
        .slick-slider {
            height: 100%;
            .slick-list {
                height: 100%;
                .slick-slide {
                    text-align: center;
                    height: 500px;
                    line-height: 160px;
                    background: #364d79;
                    overflow: hidden;
                    .ant-card {
                        height: 500px;
                        .ant-card-cover {
                            height: 100px;
                            img {
                                height: auto;
                            }
                        }
                        .ant-card-body {
                            color: white;
                            width: 50%;
                            margin: 0 auto;
                        }
                    }
                    h3 {
                        color: #fff;
                    }
                }
            }
        }
    }
}
.ant-modal {
    width: 90% !important;
    .description {
        display: flex;
        justify-content: space-between;
    }
}
